.recentActivitiesList{
  padding-left: 0px;
  .recentActivitiesList--item{
    padding-left: 0px;
  }
  .recentActivitiesList--date{
    font-weight: 600;
  }
  .recentActivitiesList--name{
    padding: 0 10px;
  }
}
